// @media (max-width: 878px) {
//   #about {
//     .container-img {
//       max-width: 340px;
//       img {
//         width: 100%;
//       }
//     }
//     .container-about {
//       max-width: 340px;
//       .box-item {
//         font-size: 0.8rem;
//       }
//     }
//   }
// }

@media (max-width: 812px) {
  .about .container-wrap .container-img img {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  #menu-icon {
    display: block;
    position: sticky;
  }
  .section-progress-bar {
    top: 58px;
  }
  .header-right {
    position: relative;
    height: 10px;
  }
  .nav-bar {
    // border: 1px solid #000;

    // width: 80%;
    width: 100vw;

    position: absolute;
    top: 2vh;
    left: -1vw;

    margin: 0 auto;
    display: none;
    position: relative;

    ul {
      background: rgba($color: $bg, $alpha: 0.8);
      //   background: blue;
      display: flex;
      flex-direction: column;

      height: 31vh;
      // width: 100%;
      position: relative;
      // margin: 0 auto;

      li {
        // position: absolute;
        // left: 0;
        // top: 0;
        a {
          // margin: 3rem 0;
          // font-size: 1rem;
          margin: 0.2rem 0;
          display: block;
          padding: 0.5rem 30vw;
        }
      }
    }
  }
  .nav-bar.active {
    display: block;
  }
  .container-wrap {
    .input-box {
      input {
        width: 100%;
      }
    }
  }
  .portfolio-container .portfolio-box {
    max-width: 90%;
  }
}

//****************
@media (max-width: 652px) {
  .home .container-wrap .home-img {
    max-width: 75%;
  }
  .home .container-wrap .home-content {
    h3 {
      font-size: 2rem;
    }
    .static-txt {
      font-size: 2rem;
    }
    .txt .dynamic-txt span {
      font-size: 2rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
  #contact {
    form {
      .input-box {
        input {
          // display: block;
          max-width: 100%;
        }
      }
    }
  }
  .about .container-wrap .container-img {
    max-width: 100%;
  }
  .about .container-wrap .container-about {
    max-width: 100%;
  }
}
//****************
@media (max-width: 540px) {
  .portfolio-container {
    margin: 0 auto;
    .portfolio-box {
      min-width: 320;
      margin: 1rem 0;
      img {
        width: 300px;
      }
    }
  }
  .footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  #home {
    .home-content {
      padding: 1rem;
    }
    h3 {
      font-size: 2rem;
    }
  }
  .static-txt {
    font-size: 2rem;
  }

  .about,
  .servises,
  .portfolio,
  .contact {
    h1,
    h3,
    h2 {
      font-size: 2rem;
      span {
        font-size: 2rem;
      }
    }
    p {
      font-size: 0.6rem;
    }
  }
  // ****************
  #about {
    display: block;
    flex-wrap: nowrap;
    h2 {
      padding: 0 0 1rem;
      text-align: center;
    }
    .container-img {
      width: 100vw;
    }
    .container-about {
      margin: 0 1rem;
    }
    .box {
      margin: 0 0 1rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h4 {
        font-size: 1.2rem;
      }
      .box-item {
        font-size: 0.8rem;
        margin: 0;
      }
    }
  }
  #servises {
    .container-wrap {
      margin: 0 auto;
      span {
        margin: 1rem;
        padding: 30px 10px;
      }
    }
  }
}
@media (max-width: 390px) {
  .portfolio-container {
    margin: 0 auto;
    .portfolio-box {
      min-width: 320;
      margin: 1rem 0;
      img {
        width: 300px;
      }
    }
  }
  #servises {
    font-size: 1.6rem;
    h2 {
      span {
        display: block;
      }
    }
  }
  #portfolio {
    font-size: 1.6rem;
    h2 {
      span {
        display: block;
        margin: 0;
      }
    }
    .portfolio-item {
      h4 {
        font-size: 1rem;
      }
    }
  }
  #contact {
    h2 {
      margin: 0;
    }
  }
}
