@import "vars";
@import "null";

@import "mixins";
@import "fonts";
@import "icons";

@import "header";

@import "header-section";
@import "sections";
@import "footer";
body {
  background-color: $bg;
  color: $color001;
  @include f400;

  font-size: $font-size;
}

.wrapper {
  color: $color00;
}
.wrapper .active {
  background: $bgdark;
}

.btn {
  display: inline-block;
  padding: 0.5rem 3rem;
  background: $color001;
  border-radius: 2rem;
  box-shadow: 0 0 1rem $color001;
  font-size: 1rem;
  color: $colorWhiteText;
  letter-spacing: 0.1rem;
  font-weight: 400;
  transition: 0.5s ease;
}
.btn:hover {
  box-shadow: none;
  background: $color00;
}
// animation all

// text*****************
.hh2 {
  font-family: $font-family00;
  font-size: 3em;
  text-shadow: 3px 3px 7px gray;
  animation: text 1s infinite alternate;
}
@keyframes text {
  0% {
    color: purple;
  }
  25% {
    color: blue;
  }
  50% {
    color: red;
  }
  75% {
    color: green;
  }
  100% {
    color: yellow;
  }
}

/// dark TEAM  *********
.dark {
  background: $bgdark;
  color: $colorWhiteText;
  li {
    a {
      color: $colorWhiteText;
    }
  }
}

.toggle {
  cursor: pointer;
  position: relative;
  display: block;
  width: 32px;
  height: 16px;
  border-radius: 16px;
  background: $bg;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

.toggle .ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  transition: 0.5s ease-out;
}
.nav-bar {
  ul {
    li {
      input {
        cursor: pointer;
        display: none;
      }
    }
  }
}
/*// input {
//   cursor: pointer;
//   display: none;
// }

    -- Dark Mode --
*/

.dark .toggle {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
    inset 0 8px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 4px rgba(0, 0, 0, 0.05);
}

.dark .toggle .ball {
  left: 16px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 2px rgba(0, 0, 0, 0.1),
    inset 0 4px 4px rgba(255, 255, 255, 1),
    inset 0 4px -4px rgba(255, 255, 255, 1);
  transition: 0.5s ease-out;
}
/*
/// end dark TEAM  *********
@import "_media";*/
